body {
  background: black;

}
h1 {
  text-align: center;
}
.caixa1{
  position: absolute;
  width: 200px;
  height: 200px;
  background: red;
  left: 0;
  bottom: 0;

} 
caixa2{
  position: absolute;
  width: 200px;
  height: 200px;
  background: forestgreen
  left: 0;
  bottom: 0;
 }